<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GUI</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/floor.css')}}" />
  </head>
  <body>
    <div id="school">
      <img src="{{ url_for('static', filename='/images/map1.png')}}" />
      <button
        class="btn"
        id="multi"
        onclick='window.location.href = "/floor"'
      ></button>
    </div>
  </body>
</html>